.App {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Code Pro', monospace;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .video-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: -1;
    }
}