.wrap_cart {
    width: 25%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 80px;
    right: -25%;
    transition: 0.5s;
    z-index: 20;
    font-family: 'Poppins', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-size: 19px;
    color: white;
    transition: 0.3s;
    opacity: 0;

    .wrapper_cart {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px;

        .closed {
            padding: 15px;
            margin-right: 90%;

            &:hover {
                text-shadow: 2px 2px 20px #6004ff;
                stroke: #6004ff;
                -webkit-text-shadow: 2px 2px 20px #6004ff;
                -moz-text-shadow: 2px 2px 20px #6004ff;
                -webkit-text-stroke-color: #6004ff;
                color: #6004ff;
                cursor: pointer;
            }
        }

        ul {
            padding: 25px;

            li {
                margin: 20px 0px;
            }
        }
    }
}

.active_cart {
    position: fixed;
    top: 80px;
    right: 0px;
    opacity: 1;
}