.burger-menu {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    .burger-menu-line {
        transition: 0.5s;
        width: 100%;
        height: 5px;
        background-color: white;
        box-shadow: 1px 1px 4px #6004ff;
        border-radius: 5px;
    }
}

.active {
    .one {
        transform: rotate(45deg) translate(6px, 11px)
    }

    .two {
        opacity: 0;
        transition-delay: 0s;
    }

    .three {
        transform: rotate(-45deg) translate(6px, -11px);
    }
}