.burger-list {
    width: 30%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 80px;
    left: -30%;
    transition: 0.5s;
    z-index: 20;
    opacity: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-size: 19px;
    color: white;
    transition: 0.3s;

    .item-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            margin-top: 50px;
            padding: 5px;

            &:hover {
                color: #6004ff;
                margin-top: 48px;
                font-size: 21px;
                cursor: pointer;
            }
        }
    }
}

.active {
    left: 0px;
    opacity: 1;
}