.user_container {
    margin: 0 auto;
    padding: 15px;
    width: 80%;
    height: max-content;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 10px;
    color: black;
    box-shadow: 0px 0px 20px #6004ff;

    .avatar_name {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        height: max-content;
    }
}