.user_container {
    margin: 0 auto;
    padding: 15px;
    width: 80%;
    height: max-content;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 10px;
    color: black;
    box-shadow: 0px 0px 20px #6004ff;

    .table_orders_history {
        margin: 0 auto;
    }
}