.user_container {
    margin: 0 auto;
    padding: 15px;
    width: 80%;
    height: max-content;
    background-color: rgba(255, 255, 255, 0.323);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #6004ff;
}