.avatar {
    transition: 0.5s;

    .avatar-icon {
        position: relative;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0px 14px #6004ff;
        }
    }

    .avatar-about {
        width: 180px;
        height: max-content;

        .login-menu {
            background-color: rgba(0, 0, 0, 0.700);
            border-radius: 5px;
            box-shadow: 0px 0px 10px #6004ff;

            li {
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                &:hover {
                    border-radius: 5px;
                    box-shadow: 0px 0px 5px #6004ff;
                    background-color: #ffffff09;
                    stroke: #6004ff;

                    a {
                        color: #6004ff;
                        background-clip: text;
                        color: transparent;
                        background-image: linear-gradient(to bottom, #ffffff, #6004ff);
                        -webkit-background-clip: text;
                        animation: gradient-animation 1s infinite;
                        background-size: 100% 11%;
                    }
                }

                a {
                    text-decoration: none;
                    font-family: 'Poppins', sans-serif;
                    font-family: 'Press Start 2P';
                    font-size: 15px;
                    cursor: pointer;
                    color: #ffffff;

                    &:hover {}
                }
            }
        }
    }
}

@keyframes gradient-animation {
    0% {
        background-position: bottom 10px right 20px;
    }

    100% {
        background-position: bottom 20px right 10px;
    }
}