.container {
    width: 100%;

    .wrap_paralax {

        .row1,
        .row2 {
            margin: 190px 40px 40px 40px;
            width: 90%;
            display: flex;
            align-items: center;

            .picture_paralax {
                width: 100%;
                height: 400px;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 1000px 800px;
                background-position: center;
                transition: background-size 0.3s ease-in-out
            }

            .info {
                padding: 40px;
                color: white;
            }
        }
    }
}